version: '3.8'
services:
  postgres-db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    ports:
      - '5432:5432'
    networks:
      - nest-net
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nestjs:
    build: .
    container_name: nest-app
    restart: always
    depends_on:
      - postgres-db
    env_file: .env
    ports:
      - "3000:3000"
    networks:
      - nest-net
    command: npm run start:dev

volumes:
  postgres_data:
networks:
  nest-net: